# DS20: Richter's Predictor: Modeling Earthquake Damage

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# Wrangle Data

## Import Data

In [17]:
dtypes = {'geo_level_1_id': 'object'}#,
          #'geo_level_2_id': 'object',
          #'geo_level_3_id': 'object'}

df = pd.merge(pd.read_csv('data/train_values.csv', dtype=dtypes),
              pd.read_csv('data/train_labels.csv')).set_index('building_id')

## EDA

- One possible problem: `NaN`'s masquerading as `0`s.

In [18]:
df.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
building_id,,,,,,,,,,,,,,,,,,,,,
802906,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
28830,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
94947,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
590882,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
201944,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3

In [19]:
df.select_dtypes('object').nunique()

geo_level_1_id            31
land_surface_condition     3
foundation_type            5
roof_type                  3
ground_floor_type          5
other_floor_type           4
position                   4
plan_configuration        10
legal_ownership_status     4
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 802906 to 747594
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   geo_level_1_id                          260601 non-null  object
 1   geo_level_2_id                          260601 non-null  object
 2   geo_level_3_id                          260601 non-null  object
 3   count_floors_pre_eq                     260601 non-null  int64
 4   age                                     260601 non-null  int64
 5   area_percentage                         260601 non-null  int64
 6   height_percentage                       260601 non-null  int64
 7   land_surface_condition                  260601 non-null  object
 8   foundation_type                         260601 non-null  object
 9   roof_type                               260601 non-null  object
 10  ground_floor_type                       260601 non-null  object
 11  other_floor_type                        260601 non-null  object
 12  position                                260601 non-null  object
 13  plan_configuration                      260601 non-null  object
 14  has_superstructure_adobe_mud            260601 non-null  int64
 15  has_superstructure_mud_mortar_stone     260601 non-null  int64
 16  has_superstructure_stone_flag           260601 non-null  int64
 17  has_superstructure_cement_mortar_stone  260601 non-null  int64
 18  has_superstructure_mud_mortar_brick     260601 non-null  int64
 19  has_superstructure_cement_mortar_brick  260601 non-null  int64
 20  has_superstructure_timber               260601 non-null  int64
 21  has_superstructure_bamboo               260601 non-null  int64
 22  has_superstructure_rc_non_engineered    260601 non-null  int64
 23  has_superstructure_rc_engineered        260601 non-null  int64
 24  has_superstructure_other                260601 non-null  int64
 25  legal_ownership_status                  260601 non-null  object
 26  count_families                          260601 non-null  int64
 27  has_secondary_use                       260601 non-null  int64
 28  has_secondary_use_agriculture           260601 non-null  int64
 29  has_secondary_use_hotel                 260601 non-null  int64
 30  has_secondary_use_rental                260601 non-null  int64
 31  has_secondary_use_institution           260601 non-null  int64
 32  has_secondary_use_school                260601 non-null  int64
 33  has_secondary_use_industry              260601 non-null  int64
 34  has_secondary_use_health_post           260601 non-null  int64
 35  has_secondary_use_gov_office            260601 non-null  int64
 36  has_secondary_use_use_police            260601 non-null  int64
 37  has_secondary_use_other                 260601 non-null  int64
 38  damage_grade                            260601 non-null  int64
dtypes: int64(28), object(11)
memory usage: 79.5+ MB

# Split Data

In [21]:
target = 'damage_grade'
X = df.drop(columns=target)
y = df[target]

In [23]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Establish Baseline

In [25]:
print('Baseline Accuracy:', y_train.value_counts(normalize=True).max())

Baseline Accuracy: 0.5697045280122793